// Modal / bootstrap ------------------------------------------
.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    text-align: center;
    &:before {
        content: '';
        height: 100vh;
        display: inline-block;
        vertical-align: middle;
        // vertical-align: top;
        width: 1%;
    }
    &-open {
        overflow: hidden;
    }
    &-close {
        position: absolute;
        width: 2em;
        height: 2em;
        right: -2em;
        top: -2em;
        border-radius: 50%;
        background-color: #e6e6e6;
        transition: all .3s;
        // background: image-url('close.svg') no-repeat center center;
        &:before,&:after {
            content: '';
            position: absolute;
            display: block;
            width: 1em;
            border-top: 1px solid;
            color: $color_dark;
            top: 1em;
            left: 0.5em;
            transition: all .3s;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            // opacity: .8;
            background-color: $color_success;
            &:before,&:after {
                color: #fff;
            }
        }
    }
    &.fade .modal-dialog {
        transform: translate(0, -25%);
        transition: transform 0.3s ease-out;
    }
    &.in .modal-dialog {
        transform: translate(0, 0);
        position: relative;
    }
    &-dialog {
        position: relative;
        margin: 2.2em auto;
        width: 34.3em;
        display: inline-block;
        vertical-align: middle;
        // vertical-align: top;
        max-width: 98%;
    }

    &-content {
        position: relative;
        background-color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.64);
        border-radius: 0.3em;
        box-shadow: 0 0 1.235rem rgba(0, 0, 0, 0.09);
        background-clip: padding-box;
        outline: 0;
        padding: 3em 3.7em;
        outline: 1px solid #dedede;
        outline-offset: -0.4em;
    }

    &-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
        &.fade {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        &.in {
            opacity: .5;
            filter: alpha(opacity=50);
        }
    }

    &-header {
        padding: 15px 0;
        min-height: 16.42857143px;
        color: #666;
        font-size: 18px;
        .close {
            margin-top: -2px;
        }
    }

    &-title {
        margin: 0;
        line-height: 1.42857143;
    }

    &-body {
        position: relative;
        padding: 0;
    }

    &-footer {
        margin-top: 15px;
        padding: 19px 20px 20px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        .btn+.btn {
            margin-left: 5px;
            margin-bottom: 0;
        }

        .btn-group .btn+.btn {
            margin-left: -1px;
        }

        .btn-block+.btn-block {
            margin-left: 0;
        }
    }
    @media (max-width: 767px) {
        &-content {
            background-color: transparent;
            color: #fff;
            border: none;
            box-shadow: none;
            outline: 0;
            padding: 0 20px;
        }
        &-close {
            right: 10px;
        }
        &-backdrop {
            &.in {
                opacity: .9;
                filter: alpha(opacity=90);
            }
        }
    }

}



