/* Global variables */
/* ======================================================================== */
// Color collection for elements
$color_primary:									#8943ca;
$color_success:									#71b349;
$color_info:									#aaaaaa;
$color_warning:									#fca33e;
$color_danger:									#ff1a1a;
$color_withe:									#ffffff;
$color_dark:									#262626;

$main_font_family:								"Proxima Nova";
$main_color:									#737373;
$color_title:									$color_dark;
$main_line_height:								1.2;
$main_font_size:								1em;

$container_width:								1450px;

$footer_height: 								auto;



$el-colors: (
	primary: $color_primary, // color for .element__primary
	success: $color_success, // color for .element__success
	info: $color_info, // color for .element__info
	warning: $color_warning, // color for .element__warning
	danger: $color_danger, // color for .element__danger
);


/* Grid */
/* ======================================================================== */
$grid_padding:									20px;


/* Form */
/* ======================================================================== */
// Input variables

// Input color
$input_color:									$main_color;
$input_bg_color:								#fff;
$input_border_color:							#dadada;
$input_placeholder_color:						rgba($main_color, .45);

// Input hover color
$input_hover_color:								$input_color;
$input_hover_bg_color:							#fff;
$input_hover_border_color:						$color_success;
$input_hover_placeholder_color:					#ddd;

// Input focus color
$input_focus_color:								$input_color;
$input_focus_bg_color:							#fff;
$input_focus_border_color:						$color_success;
$input_focus_placeholder_color:					#ddd;

// Input disabled color
$input_disabled_color:							$input_color;
$input_disabled_bg_color:						#eee;
$input_disabled_border_color:					#dadada;
$input_disabled_placeholder_color:				#dadada;

// Input error color
$input_error_color:								#e30613;
$input_error_bg_color:							#fff;
$input_error_border_color:						#e30613;
$input_error_placeholder_color:					#e30613;

// Button variables
$btn_default_bg_color:				 			#ddd;
$btn_default_text_color:                        $main_color;
$btn_contrast_text_color:                       $color_withe;
$btn_default_bg_color_hover:					#ccc;



/* Breakpoints */ 
$breakpoint-small:                               480px !default;
$breakpoint-medium:                              760px !default;
$breakpoint-large:                               960px !default;
$breakpoint-xlarge:                              1200px !default;

$breakpoint-mini-max:                            ($breakpoint-small - 1) !default;
$breakpoint-small-max:                           ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                          ($breakpoint-large - 1) !default;
$breakpoint-large-max:                           ($breakpoint-xlarge - 1) !default;




