// Input text and textarea ================================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: $input_bg_color;
	border: 1px solid $input_border_color;
	padding: 1.9em 2em;
	outline: none;
	font-size: 0.95em;
	font-weight: 400;
	font-family: $main_font_family;
	border-radius: 0.1em;
	transition: all .3s;
	&:hover {
		// border: 1px solid $input_hover_border_color;
		// background-color: $input_hover_bg_color;;
	}
	&:focus {
		border: 1px solid $input_focus_border_color;
		background-color: $input_focus_bg_color;;
	}
	&.invalid {
		border: 1px solid $input_error_border_color;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: $input_placeholder_color;
	}
	@media (max-width: 767px) {
	    font-size: 13px;
		padding: 1.6em 2em;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
}

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    border: 1px solid $color_success;
    overflow: hidden;
    vertical-align: top;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    background-color: $color_success;
    text-align: center;
    position: relative;
    border-radius: 0.2em;
    font-size: $main_font_size;
}

input[type=radio] {
    border-radius: 50%;
}

input[type=checkbox]:before,
input[type=radio]:before {
    display: block;
}

input[type=radio]:checked:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: $color_success;
}

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
    content: "";
    -webkit-font-smoothing: antialiased;
    background-color: $color_success;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: top 0.15em center;
    background-size: 80%;
    width: 100%;
    height: 100%;
}

input[type=checkbox]:indeterminate:before {
    content: "\f068";
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    border-color: #ddd;
}

input[type=radio]:disabled:checked:before {
    background-color: #aaa;
}

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
    color: #aaa;
}


// Style for button and pseudo button for input and link
.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	font-size: 0.95em;
	font-weight: 500;
	padding: 1.5em 2em 1.6em ;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $btn_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 4em;
	@include trs(0.3s);
	@include trs(0.3);
	text-decoration: none;
	&:hover {
		background-color: #fff;
		color: #000;
		text-decoration: none;
		box-shadow: 0 0.529em 1.059em rgba(113, 179, 73, 0.75);
	}
	&:active {
		background-color: transparentize(#fff, .2);
		color: #000;
		box-shadow: none;
	}
	@each $status_el, $color_bg in $el_colors {
		&__#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			color: $btn_contrast_text_color;
			&:hover {
				background-color: $color_bg;
				color: $btn_contrast_text_color;
			}
			&:active {
				background-color: darken($color_bg, 7%);
				color: $btn_contrast_text_color;
			}
		}
	}
	@media (max-width: 767px) {
	    font-size: 14px;
	}
}
